# Backend
PORT=3333
DATABASE_URL=postgres://postgres:postgres@database:5432/sga_abacos
JWT_SECRET=change_this_secret

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3333

# Database
POSTGRES_DB=sga_abacos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres