# Chaves e acesso pela .env
.env/
.env
.env.*
!.env.example


# Logs e arquivos temporários
logs/
*.log
__pycache__/
*.pyc


# Testes e cobertura de código
Test/
coverage/

node_modules/
dist/
*.tsbuildinfo

frontend/.next/

# .worktrees/
